<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="E_book_state_proj.My.MySettings.studentviewtableConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\studentviewtable.mdb"
            providerName="System.Data.OleDb" />
        <add name="E_book_state_proj.My.MySettings.studentloginConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\studentlogin.accdb"
            providerName="System.Data.OleDb" />
        <add name="E_book_state_proj.My.MySettings.ebooksConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\ebooks.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>